@import url("https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
  background: #EEEFF1;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 150px;
}

.header .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.header .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  text-decoration: none;
}

.header .nav__link:hover {
  color: #34547A;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-screen {
  padding: 140px 0;
  width: 100%;
  background: #EEEFF1;
}

.main-screen .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  width: 100%;
  margin-right: -15px;
  margin-left: -15px;
  margin: 0 auto;
}

.main-screen .row .col {
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 15px;
  padding-right: 15px;
}

.main-screen__title {
  font-size: 48px;
}

.main-screen__descr {
  font-size: 16px;
  color: #727272;
  margin: 60px 0;
}

.main-screen__btn {
  width: 225px;
  height: 65px;
  background: #34547A;
  color: white;
  border: none;
  font-size: 16px;
}

.main-screen__btn:hover {
  cursor: pointer;
}

.main-screen__btn:focus {
  outline: none;
}

.about-me {
  width: 100%;
  height: 320px;
  background: #E5E5E5;
  padding-top: 100px;
}

.about-me__title {
  text-align: center;
  font-size: 32px;
}

.about-me__descr {
  text-align: center;
  margin-top: 30px;
  color: #727272;
  font-size: 16px;
}

.my-project {
  width: 100%;
  background: #34547A;
  padding-top: 75px;
  padding-bottom: 75px;
}

.my-project__pcts {
  width: 50px;
  height: 50px;
}

.my-project .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my-project .row .col {
  padding-left: 15px;
  padding-right: 15px;
}

.my-project__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.my-project__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  margin-left: -10px;
}

.my-skills {
  position: relative;
  width: 100%;
  height: 500px;
  background: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-skills__knows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
  margin-left: -500px;
}

.my-skills__scales {
  width: 400px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#34547A), color-stop(80%, #C4C4C4));
  background: linear-gradient(90deg, #34547A 0% 85%, #C4C4C4 80% 100%);
  margin-top: 70px;
}

.my-skills__scalesj {
  width: 400px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#34547A), color-stop(30%, #C4C4C4));
  background: linear-gradient(90deg, #34547A 0% 30%, #C4C4C4 30% 100%);
  margin-top: 70px;
}

.my-skills__scalesb {
  width: 400px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#34547A), color-stop(60%, #C4C4C4));
  background: linear-gradient(90deg, #34547A 0% 60%, #C4C4C4 60% 100%);
  margin-top: 70px;
}

.my-skills__descr {
  margin-top: -25px;
  color: #727272;
}

.my-skills__image {
  width: 455px;
  height: 450px;
  position: absolute;
  top: 25px;
  right: 0;
  left: 57%;
  margin-right: 200px;
}

.my-skills__image:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 1s;
  transition: 1s;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.work {
  width: 100%;
  height: 100vh;
  background: #EEEFF1;
  position: relative;
  padding-top: 60px;
}

.how-i-work {
  text-align: center;
}

.how-i-work__title {
  margin-bottom: 40px;
  font-size: 32px;
}

.how-i-work__descr {
  line-height: 26px;
  color: #727272;
  font-size: 16px;
}

.how-i-work__img {
  width: 700px;
  height: 350px;
}

.how-i-work__video {
  position: relative;
}

.how-i-work__btn {
  background: url(../image/work/play.png) center center/cover no-repeat;
  width: 70px;
  height: 70px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

.pictures {
  width: 100%;
  height: 444px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pictures-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 500px;
}

.pictures__box {
  width: 25%;
  height: 280px;
  position: relative;
}

.pictures__box:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../image/pictures/eye.png) center center no-repeat, -webkit-gradient(linear, left bottom, left top, from(rgba(52, 84, 122, 0.8)), to(rgba(52, 84, 122, 0.8)));
  background: url(../image/pictures/eye.png) center center no-repeat, linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
}

.pictures__image {
  width: 100%;
  height: 280px;
}

.link-job {
  width: 100%;
  height: 300px;
  top: 116px;
  background: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-job__mac {
  width: 200px;
  height: 150px;
}

.link-job__linux {
  width: 200px;
  height: 200px;
  margin-top: -20px;
}

.link-job__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 95px;
          column-gap: 95px;
}

.link-job__box:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  background: #EEEFF1;
  padding-top: 60px;
  padding-bottom: 200px;
  margin-top: 116px;
  padding-left: 300px;
  padding-right: 300px;
  position: relative;
}

.form__text {
  text-align: center;
}

.form__title {
  font-size: 32px;
}

.form__descr {
  margin-top: 20px;
  font-size: 16px;
  color: #727272;
}

.form__input {
  width: 100%;
  padding-top: 25px;
  margin-right: 40px;
}

.form__button {
  width: 190px;
  height: 55px;
  background: #34547A;
  color: white;
  border: none;
  font-size: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.form__button:focus {
  outline: none;
}

.inputs {
  width: 255px;
  height: 50px;
  border: none;
}

.inputs::-webkit-input-placeholder {
  position: absolute;
  margin-left: 20px;
  margin-top: 18px;
}

.inputs:-ms-input-placeholder {
  position: absolute;
  margin-left: 20px;
  margin-top: 18px;
}

.inputs::-ms-input-placeholder {
  position: absolute;
  margin-left: 20px;
  margin-top: 18px;
}

.inputs::placeholder {
  position: absolute;
  margin-left: 20px;
  margin-top: 18px;
}

.inputs:focus {
  outline: none;
}

.biginp {
  width: 545px;
  height: 175px;
  margin-top: 15px;
  margin-left: 35px;
  border: none;
}

.biginp::-webkit-input-placeholder {
  position: absolute;
  top: 15px;
  left: 15px;
}

.biginp:-ms-input-placeholder {
  position: absolute;
  top: 15px;
  left: 15px;
}

.biginp::-ms-input-placeholder {
  position: absolute;
  top: 15px;
  left: 15px;
}

.biginp::placeholder {
  position: absolute;
  top: 15px;
  left: 15px;
}

.biginp:focus {
  outline: none;
}

.col {
  padding-left: 50px;
}

.bthfix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 75%;
}

.footer {
  width: 100%;
  height: 151px;
  background: #34547A;
}

.footer__text {
  color: white;
  position: relative;
  top: 60px;
  margin-left: 250px;
}

.footer__title {
  font-size: 21px;
  font-weight: 500;
}

.footer__descr {
  font-size: 13px;
  font-weight: normal;
}

.footer__pcts {
  position: absolute;
  right: 250px;
  margin-top: 25px;
}

.footer__vk {
  margin-left: 10px;
  margin-right: 10px;
}

.footer__vk:hover {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.footer__inst {
  width: 26px;
  height: 26px;
}

.footer__inst:hover {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: 1s;
  transition: 1s;
}
/*# sourceMappingURL=style.css.map */