.about-me{
    width: 100%;
    height: 320px;
    background: #E5E5E5;
    padding-top: 100px;
    &__title{
        text-align: center;
        font-size: 32px;
    }
    &__descr{
        text-align: center;
        margin-top: 30px;
        color: #727272;
        font-size: 16px;

    }
}
