.form{
    display: flex;
    width: 100%;
    height: 100vh;
    background: #EEEFF1;
    padding-top: 60px;
    padding-bottom: 200px;
    margin-top: 116px;
    padding-left: 300px;
    padding-right: 300px;
    position: relative;
    &__text{
        text-align: center;
    }
    &__title{
        font-size: 32px;
    }
    &__descr{
        margin-top: 20px;
        font-size: 16px;
        color: #727272
    }
&__input{
    width: 100%;
    padding-top: 25px;
    margin-right: 40px;
    
}
&__button{
    
    width: 190px;
    height: 55px;
    background: #34547A;
    color: white;
    border: none;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    
    &:focus{
        outline: none;
    }
}
}
.inputs{
    width: 255px;
    height: 50px;
    border: none;
    &::placeholder{
        position: absolute;
      margin-left: 20px;
      margin-top: 18px;
    }
    &:focus{
        outline: none;
    }
}
.biginp{
    width: 545px;
    height: 175px;
    margin-top: 15px;
    margin-left: 35px;
    
    border: none;
    &::placeholder{
        position: absolute;
        top: 15px;
        left: 15px;
    }
    &:focus{
        outline: none;
    }
}
.col{
    padding-left: 50px;
}
.row{
    display: flex;
    justify-content: center;
    position: absolute;
   left: 0;
   right: 0;    
   top: 75%;
}