.header {
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
    background: #EEEFF1;
    &__wrapper {
        display: flex;
        padding: 0 150px;
    }

    .nav {
        width: 100%;
        display: flex;
        align-items: center;

        &__menu {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            list-style: none;
            align-items: center;
            column-gap: 20px;
        }

        &__link {
            display: flex;
            color: black;
            text-decoration: none;

            &:hover {
                color: #34547A;
                transition: 0.5s;
            }
        }

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    }
}