.link-job {
    width: 100%;

    top: 116px;
    background: #E5E5E5;
    display: flex;
    position: relative;
    padding-top: 90px;
    align-items: center;

    &__mac {
        width: 200px;
        height: 150px;
        &:hover{
            transform: scale(1.2);
            transition: 1.5s;
                    }
    }

    &__linux {
        width: 200px;
        height: 200px;
        margin-top: -20px;
        &:hover{
transform: scale(1.2);
transition: 1.5s;
        }
    }

    &__card {
        display: flex;
        column-gap: 95px;
       
    }

    &__box {
        &:hover {
            transform: scale(1.2);
            transition: 1.5s;
        }
    }
    &__mcrsf{
        &:hover{
            transform: scale(1.2);
            transition: 1.5s;
                    }
    }
}