.my-skills {
    padding: 100px 0;
    position: relative;
    width: 100%;
    background: #E5E5E5;
    display: flex;

    &__scales {
        width: 400px;
        height: 3px;
        background: linear-gradient(90deg, #34547A 0% 85%, #C4C4C4 80% 100%);
        margin-top: 70px;
    }

    &__scalesj {
        width: 400px;
        height: 3px;
        background: linear-gradient(90deg, #34547A 0% 30%, #C4C4C4 30% 100%);
        margin-top: 70px;
    }

    &__scalesb {
        width: 400px;
        height: 3px;
        background: linear-gradient(90deg, #34547A 0% 60%, #C4C4C4 60% 100%);
        margin-top: 70px;
    }

    &__descr {
        position: absolute;
        margin-top: 10px;
        color: #727272;
    }

    .row {
        display: flex;
        width: 100%;
        margin-right: -15px;
        margin-left: -15px;
        flex-wrap: wrap;

        .col {
            flex-basis: auto;
            padding-left: 15px;
            padding-right: 15px;
            width: 50%;
            align-self: center;
        }
    }

    &__image {
        width: 80%;

        &:hover {
            transform: scale(1.2);
            transition: 1.5s;
            cursor: zoom-in;
        }
    }
}