.pictures {
    width: 100%;
    height: 444px;
    display: flex;

    &__card {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        height: 500px;

    }

    &__box {
        width: 25%;
        height: 280px;
        position: relative;

        &:hover::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../image/pictures/eye.png) center center no-repeat, linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
        }
    }

    &__image {
        width: 100%;
        height: 280px;
    }
}