.work{
    width: 100%;
    height: 100vh;
    background: #EEEFF1;
    position: relative;
    padding-top: 60px;
}
.how-i-work{
    text-align: center;
    &__title{
        margin-bottom: 40px;
        font-size: 32px;
    }
    &__descr{
        line-height: 26px;
    color:#727272;
    font-size: 16px;
    }
    &__img{
        width: 700px;
        height: 350px;
    }
    &__video {
        position: relative;
    }
    &__btn {
        
    
            
            background: url(../image/work/play.png) center center / cover no-repeat;
            width: 70px;
            height: 70px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            position: absolute;
        

    }
}